/* para las estrellas de la puntuacion */
.star {
  margin: 2px;
  display: inline-block;
  width: 0px;
  height: 0px;
  border-right: 9px solid transparent;
  border-bottom: 8px solid #FFCC00;
  border-left: 9px solid transparent;
  transform: rotate(35deg);
  cursor: pointer;
}

.star:before {
  position: absolute;
  display: inline-block;
  left: -6px;
  top: -4px;
  width: 0px;
  height: 0px;
  border-right: 3px solid transparent;
  border-bottom: 7px solid #FFCC00;
  border-left: 3px solid transparent;
  content: '';
  transform: rotate(-34deg);
  cursor: pointer;
}

.star:after {
  position: absolute;
  display: inline-block;
  left: -9px;
  top: 0px;
  width: 0px;
  height: 0px;
  border-right: 9px solid transparent;
  border-bottom: 8px solid #FFCC00;
  border-left: 9px solid transparent;
  content: '';
  transform: rotate(-70deg);
  cursor: pointer;
}

/* para el detalle del producto */
.selected-card-item-category {
  font-size: medium;
  color: gray;
  margin-top: 5px;
  margin-bottom: 15px;
}

.selected-card-item-title {
  font-size: xx-large;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 15px;
  color: #1F4374;
}

.selected-card-item-price {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: x-large;
  font-weight: 500;
  text-align: justify;
}

.selected-card-item-description {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: large;
  font-weight: 400;
  line-height: 35px;
  text-align: justify;
}

.selected-card-item-img {
  width: 100%;
}

.selected-card-item-itemCount {
 font-size: 18px;
}

.finish-container {
  width: inherit;
  margin-top: 10%;
  height: auto;
}