.cart-widget-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-widget-total {
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-top: 10px;
    font-size: medium;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-icon-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item-cart-modal {
    display: flex;
}

.item-cart-modal-title {
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: 600;
}

.item-cart-modal-img {
    border-radius: 5px;
    height: 100px;
}

.item-cart-modal-info {
    width: 60%;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.item-cart-modal-info p {
    padding: 0px !important;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 13px;
    text-align: left !important;
}

.item-cart-modal-delete {
    width: 10%;
}

.footer-modal-cart {
    padding: 0px 10px;
}

.proceed-purchase-btn {
    background: #1F4374 !important;
    border-radius: 5px !important;
    color: white !important;
    padding: 5px 20px !important;
    font-family: 'Montserrat' !important;
    width: 100% !important;
    box-shadow: '1px 1px 5px';
}

.proceed-purchase-btn:hover {
    background: #107BD4 !important;
    transform: scale(1.03);
}

a {
    color: white !important;
    text-decoration: none;
}

/* para el numero de cantidad de productos del carrito*/
.subidc {
    vertical-align: center;
    /* /subindice/ */
    font-size: 8pt;
    font-weight: bold;
    color: white;
}