/*Estilo para Card*/
.card-item{
    float:left;
    border: 1px solid #ababab;
    margin-top: 2%;
    margin-left: 2%;
    box-shadow: 1px 1px 10px #0000002b;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 18%;
    background-color: rgb(217, 225, 241);
    transition: all 0.3s ease;
  }

  .card-item:hover{
    transform: scale(1.02);
    position: relative;
    /* z-index: -1; */
  }

  .card-item:not(:hover){
    position: relative;
    /* z-index: -1; */
  }
  
.card-item-img{
  width: 80%;
}

.card-item-title{
    font-size: large;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 15px;

  }

  .card-item-price{
    font-style: oblique;
    font-size: medium;
    margin-bottom: 10px;
  }
  
.detail-btn{
    text-decoration: none;
    padding: 5px;
    margin-top: 10%;
    width: fit-content;
    height: 20px;
    font-size: small;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 3px;
    background-color: #202020;
    color: white;
  }

  .detail-btn:hover{
    cursor: pointer;
    transform: scale(1.03);
    background-color: #107BD4; 
  }
