.logo-imgAU{
    width: 80%;
    border-image: 5px;
    border-color: black;
}

.wrapperAU {
    display: grid;
    grid-template-columns: 450px 450px;
    grid-gap: 10px;
    background-color: whitesmoke;
    color: black;
  }
  
.elementAU {
    text-align: justify;
    line-height: 35px;
    width: fit-content;
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
    padding: 20px;
    font-size: 100%;
}
