.main-containerCF {
    width: fit-content;
    margin-left: 35%;
    margin-top: 8%;
}

.elem-group {
    text-align: left;
    width: fit-content;
    color: #fff;
    border-radius: 5px;
    padding: 3px;
    font-size: 100%;
}
