ul.navbar{
    list-style: none;
    display: flex;
}
    
ul.navbar > li > button {
    margin-left: 10px;
    margin-right: 10px;
    background: rgb(30, 30, 30);
    border: white;
    border-style: solid;
    border-width: 2px;
}

ul.navbar > li > div {
    color: white;
}

.container-logo {
    width: 10%;
    transition: all 0.2s ease;
}

.container-logo:hover{
    transform: scale(1.03);
}

.img-header{
    width: 70px;
    cursor: pointer;
}

div > header.appBar{
    background-color: rgb(30, 30, 30);
    position:fixed;
    top:0;
    width:100%;
    z-index: 10;
}

/*menu desplegable MenuPopupMenu*/
div > div > ul{
    background: rgb(30, 30, 30);
    color: white;
}

div > div > ul > li > a{
    text-decoration: none;
    color: white;
}

ul.navbar > li > svg.custom-iconCart{
color: primary;
}

/*Para los botones del menu de la navbar*/
ul.navbar > li > button { 
    text-decoration: none;
    color: white;
    min-width: 110px;
    height: 40px;
    border-radius: 5px;
}

ul.navbar > li > button:hover{
    background-color: #107BD4;
} 

ul.navbar > li > button > a { 
    text-decoration: none;
    color: white;
}