ul.navbar{
    list-style: none;
    display: flex;
}
    
ul.navbar > li > button {
    margin-left: 20px;
    background: rgb(30, 30, 30);
    border: white;
    border-style: solid;
    border-width: 2px;
}

.container-logo{
    width: 10%;
}

.img-header{
    width: 70px;
    cursor: pointer;
}

ul.navbar > li > div {
   
    /* background-color: rgba(248, 138, 35, 0.6);  */
    color: white;
}

div > header.customBox{
    background-color: rgb(30, 30, 30);
    position:fixed;
    top:0;
    width:100%;
}

/*menu desplegable MEnuPopupMenu*/
div > div > ul{
    background: rgb(30, 30, 30);
    color: white;
}

div > div > ul > li > a{
    text-decoration: none;
    color: white;
}


/*Estilo para cuando clickea en los botones de la NavBar se vea*/
ul.navbar > li > button:hover{
    background-color: #107BD4;
} 


ul.navbar > li > svg.custom-iconCart{
color: primary;

}
 /**** SEARCH BAR ****/

 /*Componente SearchBar*/
.custom-Search-Bar{
    border-radius: 5px;
    align-self: center;
    color: orangered;
    background-color: whitesmoke;  

}
/* color input de la barra de busqueda */
ul.navbar > li > div > .custom-input{
    border-radius: 5px;
    background-color: #1f4274aa; /* color del que queda la lupa */
    color: white;
}

ul.navbar > li > div > .custom-input:hover{
    color: white;
} 

/**** CARRITO DE COMPRAS ****/
/* color de fondo cuando se pone el cursor arriba del carrito */
ul.navbar > li > .custom-icon-cart:hover{
    background-color: #107BD4;
} 

/*Cambia color del icono a blanco*/
ul.navbar > li > button > svg{   
    fill: white; 
}

/*Para los LINKS*/
/* ul.navbar > li > a{ 
text-decoration: none;
    color: white;
} */
/*Para  el menu de la navbar*/
ul.navbar > li > button { 
    text-decoration: none;
        color: white;
    }
ul.navbar > li > button > a { 
    text-decoration: none;
    color: white;
}

