  
 
ul.navbar > li > button {
    background: seagreen;
}

.container-logo{
    width: 10%;
}

ul.navbar > li > div {
    background-color: rgba(59, 182, 112, 0.404);
}

ul.navbar
{
 list-style: none;
 display: flex;
}
    
ul.navbar li 
{
 margin-right: 15px;
}
   
   

