  
 
ul.navbar > li > button {
    background: #ff7200;
}

.container-logo{
    width: 10%;
}

ul.navbar > li > div {
   
    background-color: rgba(255, 136, 0, 0.755); 
    color: orangered;
}

ul.navbar
{
 list-style: none;
 display: flex;
}
    
ul.navbar li 
{
 margin-right: 15px;
}

div > header.customBox{
    color: #ffa500;
    background-color: #ffa500;
}
   

