.App {
  text-align: center;
}

/*Estilo para Card seleccionada*/
.selected-card-item{
  float:left;
  border: 1px solid #ababab;
  margin-top: 1%;
  margin-left: 1%;
  box-shadow: 1px 1px 5px #0000002b;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  width: 35%;
  background-color: rgb(155, 175, 215);
}

.selected-card-item:nth-of-type(1) { margin-left: 20%}

.selected-card-item-title{
  font-size: x-large;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 15px;
}

.selected-card-item-description{
  font-size: large;
  font-weight: 400;
}

.selected-card-item-ul {
  list-style: none;
  display: block;
  text-align:'left';
}
.selected-card-item-ul > li{
  text-align: left;
}

/*Estilo para Card*/
.card-item{
  float:left;
  border: 1px solid #ababab;
  margin-top: 2%;
  margin-left: 2%;
  box-shadow: 1px 1px 5px #0000002b;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  width: 12%;
  background-color: rgb(240, 225, 210);
}

.card-item-title{
  font-size: large;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 15px;
  min-height: 50px;
}

.card-item-description{
  font-size: medium;
  font-weight: 350;
}

div > img{
  height: 70%;
  width: 70%;
  border-image: 5px;
  border-color: black;
}

div > p{
  height: 50px;
}

div > button{
  width: 100px;
  font-size: large;
}


.detail-btn{
  margin-top: 10%;
  width: fit-content;
  font-size: small;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  background-color: #000000d7;
  color: white;
}

/**/
.itemCount-btn{
  width: 30px;
  margin-top: 5%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  background-color: #107BD4;
  color: white;
}

.itemCount-btn:hover{
  cursor: pointer;
}

.itemCount-container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.addRemove-container{
  width: 100%;
  font-weight: bold;
}

.addCart-btn{
  background-color: #1F4374;
  color: white;
  margin-top: 5px;
  font-size: 12px;
  border-radius: 5px;
  height: 40px;
}

.addCart-btn:hover{
  cursor: pointer;
}

/*Estilo botones del Detail */
.showDetail-btn{
height: fit-content;
color: #ababab;
font-size: 12px;
border-radius: 5px;
}

.showDetail-container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}