html{
  background-color: whitesmoke;
}

.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

div > img{
  height: 70%;
  width: 70%;
  border-image: 5px;
  border-color: black;
}

div > p{
  height: 50px;
}

div > button{
  width: 100px;
  font-size: large;
}


.continue-btn {
  background-color: #1F4374;
  color: white;
  margin-top: 5px;
  margin-left: 5%;
  font-size: 14px;
  border-radius: 5px;
  height: 40px;
  width: 160px;
}

.circular-progress{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.faq{
  margin-top:10%;
}
.error-page{
  margin-top:10%;
}
.contact{
  margin-top: 10%;
}
