.itemCount-btn{
    width: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    background-color: #107BD4;
    color: white;
  }
  
  .itemCount-btn:hover{
    cursor: pointer;
  }
  
  .itemCount-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .addRemove-container{
    width: 100%;
    font-weight: bold;
    margin-top: 10%;
  }
  
  .addCart-btn{
    background-color: #1F4374;
    color: white;
    margin-top: 5px;
    font-size: 12px;
    border-radius: 5px;
    height: 40px;
  }
  
  .addCart-btn:hover{
    cursor: pointer;
  }
