  .itemCount-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .addRemove-container{
    width: 100%;
    font-weight: bold;
    margin-top: 10%;
  }

  .noStock {
    color: red;
    max-height: 30px;
  }