.itemCount-btn{
    width: 30px;
    height: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 50%;
    background-color: #fd733c;
    color: white;
  }
  
  .itemCount-btn:hover{
    cursor: pointer;
    transform: scale(1.03);
    background-color: #107BD4; 
  }
  
  .itemCount-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .addRemove-container{
    width: 100%;
    font-weight: bold;
    margin-top: 10%;
  }
  
  .addCart-btn{
    background-color: #1F4374;
    color: white;
    margin-top: 5px;
    font-size: 12px;
    border-radius: 5px;
    height: 40px;
  }
  
  .addCart-btn:hover{
    cursor: pointer;
    transform: scale(1.03);
    background-color: #107BD4; 
  }

  .noStock {
    color: red
  }